@model ServerViewModel

<div>
    @{
        var serverGuidValues = new Dictionary<string, string> { ["guid"] = Model.Id.ToString() };
    }

    <div class="btn-group" role="group">
        @if (!Model.AllRunning)
        {
            <a class="btn btn-sm btn-success" asp-route="StartServer" asp-all-route-data="serverGuidValues">Start</a>
            <span class="btn btn-sm btn-light disabled">Stop</span>
            <span class="btn btn-sm btn-light disabled">Restart</span>
        }
        else
        {
            <span class="btn btn-sm btn-light disabled">Start</span>
            <a class="btn btn-sm btn-danger" asp-route="StopServer" asp-all-route-data="serverGuidValues">Stop</a>
            <a class="btn btn-sm btn-warning" asp-route="RestartServer" asp-all-route-data="serverGuidValues">Restart</a>
        }
    </div>
</div>