@using Triceratops.Libraries.Helpers

@{
    ViewData["Title"] = "Servers";
}

<div class="text-center">
    <h1>Triceratops</h1>

    <h2>Create New Server</h2>

    @foreach (var serverType in ServerTypeHelper.AllowedServerTypes)
    {
        <p>@Html.RouteLink(serverType.ToString(), "Server_Create", new { serverType })</p>
    }
</div>
