@model Triceratops.Libraries.Models.View.ServerViewModel[]
@using Triceratops.Dashboard.Views
@using Triceratops.Libraries.Helpers

@{
    ViewData["Title"] = "Servers";
}

<div class="text-center">
    <h1>Servers</h1>

    <h2>Create New Server</h2>

    @foreach (var serverType in ServerTypeHelper.AllowedServerTypes)
    {
        <p>@Html.RouteLink(serverType.ToString(), "Server_Create", new { serverType })</p>
    }

    <h2>Existing Servers</h2>

    @foreach (var server in Model)
    {
        await Html.RenderPartialAsync("_ServerStatus", server);
    }
</div>
