@inject Triceratops.Libraries.Http.Api.Interfaces.Client.ITriceratopsApiClient ApiClient

@{
    ViewData["Title"] = "Home";

    var response = await ApiClient.Servers.GetServerListAsync();
    var servers = response.Servers.ToArray();
    var uniqueGameServers = servers.Select(s => s.ServerType).Distinct().Count();
}

<h1 class="h3">Home</h1>

@if (!servers.Any())
{
    <p>
        Welcome to Triceratops, why don&#39;t you have any servers yet? Click <strong>Create Server</strong> up at the top to get started!
    </p>
}
else
{
<p>
        <dashboard-link route="@DashboardRoutes.ListServers">TESTKEK</dashboard-link>
        Welcome to Triceratops, you currently have <dashboard-link route="@DashboardRoutes.ListServers"><pluralise name="server" values="@servers" /></dashboard-link>
        set up using <pluralise name="game" count="@uniqueGameServers" />
</p>
}

