@model ServerViewModel

@if (Model.Volumes.Any())
{
    @foreach (var directory in Model.Volumes)
    {
        @Html.CreateDirectoryTree(Model.Slug, directory, true)
    }
}
else
{
    <p class="text-muted">There are no storage volumes defined for this server.</p>
}