@model IEnumerable<Triceratops.Dashboard.Models.ServerViewModel>

@{
    ViewData["Title"] = "ListServers";
}

<h1>Servers</h1>

@foreach (var server in Model)
{
    <div style="text-align: center;"><a asp-route="ServerDetails" asp-route-slug="@server.Slug">@server.Name (@server.ServerType)</a></div>
}