@using Triceratops.Libraries.Helpers
@using Triceratops.Dashboard.Views
@using Triceratops.Dashboard.Services.NotificationService
@inject INotificationService NotificationService
@model ServerViewModel

@{
    ViewData["Title"] = "ServerDetails";

    var notificationMessages = NotificationService?.GetMessages()?.ToArray() ?? new Message[0];
}

@section PageNav {
    <partial name="Partials/_ServerDetailsNav" model="Model" />
}

<component type="typeof(PageHeading)" param-Title="@Model.Name" render-mode="Static" />

<div class="tab-content p-1" id="myTabContent">
    <div class="tab-pane fade show active" id="manage" role="tabpanel" aria-labelledby="manage-tab">
        <p>TODO: This could probably display some current info and stuff?</p>
    </div>

    <div class="tab-pane fade p-1" id="files" role="tabpanel" aria-labelledby="files-tab">
        <partial name="Partials/_ServerFileBrowser" model="Model" />
    </div>

    <div class="tab-pane fade" id="logs" role="tabpanel" aria-labelledby="logs-tab">
        <partial name="Partials/_ServerLogViewer" model="Model" />
    </div>
</div>

<component type="typeof(ToastMessageList)"
           param-Messages="notificationMessages"
           param-Timeout="TimeSpan.FromSeconds(5)"
           render-mode="Static" />

@section Scripts
{
    <script>
        $(function() {
            updateServerButtons('@Model.Id', @(Model.AllRunning ? "true" : "false"));
        });
    </script>
    @if (Model.HasLogs)
    {
        <script src="~/lib/codemirror/lib/codemirror.min.js"></script>
        <script>
    @for (var logIndex = 0; logIndex < Model.Logs.ContainerLogItems.Length; logIndex++)
    {
        <text>
            var textarea_@logIndex = document.getElementById('log_@logIndex');

            var editor_@logIndex = CodeMirror.fromTextArea(textarea_@logIndex, {
                lineNumbers: true,
                readOnly: true,
                theme: 'darcula',
                autofocus: true
            });
        </text>
    }
        </script>
    }
}

@section Styles
{

    
    @if (Model.HasLogs)
    {
        <link href="~/lib/codemirror/lib/codemirror.min.css" type="text/css" rel="stylesheet" />
        <link href="~/lib/codemirror/theme/darcula.min.css" type="text/css" rel="stylesheet" />
    }
}

