@page "/"
@inject Triceratops.Libraries.Http.Api.Interfaces.Client.ITriceratopsApiClient ApiClient

@using Triceratops.Libraries.Http.Api.ResponseModels

<h1>Hello, world!</h1>

@foreach (var server in Servers)
{
    <p>@server.Name</p>
}

@code {
    public IEnumerable<ServerDetailsResponse> Servers { get; private set; } = new ServerDetailsResponse[0];

    protected override async Task OnInitializedAsync()
    {
        var response = await ApiClient.GetServerListAsync();

        Servers = response.Servers;
    }
}